<main class="edit-container">
  <header class="edit-header">
    <div class="header-info">
      <button class="back-pill" routerLink="/admin">
        <mat-icon>arrow_back</mat-icon>
        Volver
      </button>
      <h2 class="title-gradient">Editar producto</h2>
    </div>
  </header>

  <div class="bento-grid-edit">
    <section class="bento-card form-zone">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label>Nombre del Producto</label>
          <input formControlName="name" type="text" placeholder="Ej. Taladro Percutor" />
        </div>

        <div class="input-group">
          <label>Descripción</label>
          <textarea
            formControlName="description"
            rows="4"
            placeholder="Detalles técnicos..."
          ></textarea>
        </div>

        <div class="row">
          <div class="input-glass">
            <label>Categoría</label>
            @if (isLoading()) {
              <div class="spinner">Cargando...</div>
            } @else {
              <select formControlName="categoryId">
                <option [ngValue]="null" disabled>Seleccionar...</option>
                @for (item of categories(); track item.id) {
                  <option [ngValue]="item.id">{{ item.name }}</option>
                }
              </select>
            }
            @if (editForm.get('categoryId')?.invalid && editForm.get('categoryId')?.touched) {
              <span class="error-text">Selecciona una categoría</span>
            }
          </div>

          <div class="image-upload-container">
            <label>Imagen del Producto</label>
            <div class="upload-wrapper">
              <div class="modern-upload-btn">
                <mat-icon>add_photo_alternate</mat-icon>
                <span>Subir nueva imagen</span>
              </div>
              <input type="file" (change)="onFileSelected($event)" accept="image/*" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-group">
            <label>Precio ($)</label>
            <input formControlName="price" type="number" step="0.01" />
          </div>
          <div class="input-group">
            <label>Stock Actual</label>
            <input
              formControlName="stock"
              type="number"
              [class.input-error]="editForm.get('stock')?.value < originalStock()"
            />
            @if (editForm.get('stock')?.value < originalStock()) {
              <small class="error-text" style="color: #ff5555; font-size: 10px">
                Stock Fijo, no se puede reducir, (Mínimo: {{ originalStock() }})
              </small>
            }
          </div>
        </div>

        <button type="submit" class="save-btn" [disabled]="editForm.invalid">
          GUARDAR CAMBIOS
          <mat-icon>check_circle</mat-icon>
        </button>
      </form>
    </section>

    <section class="bento-card preview-zone">
      <small class="preview-label">LIVE PREVIEW</small>

      <div class="live-preview-card">
        <img [src]="imagePreview()" class="preview-img" />
        <div class="preview-info">
          <span class="preview-cat">{{ editForm.get('categoryId')?.value | categoryName }}</span>
          <h3>{{ editForm.get('name')?.value || 'Nombre del Producto' }}</h3>
          <div class="preview-stock">
            En inventario: {{ editForm.get('stock')?.value }} unidades
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
