USE [db_transactions]
GO
/****** Object:  Table [dbo].[tb_transaction]    Script Date: 23/2/2026 05:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_transaction](
	[Id] [varchar](32) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[ProductId] [varchar](32) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Detail] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_tb_transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
